.rcp-dialog__mask {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
}

.rcp-dialog__content {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  width: 100%;
  animation: fadein .5s forwards;

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}